/* Color pallete */
$blu-primary: #88bbdd;
$blu-secondary: #7788aa;
$blu-dark: #223366;
$blu-bg: #ddddee;
$blu-generic: #ccc;

.brand-logo {
    font-family: 'Gugi', cursive;
    &:not(h1) {
        padding-left: 45px;
        &:before {
            content: '';
            background-image: url('../../assets/blu_logo_gh.png');
            width: 48px;
            height: 48px;
            left: 5px;
            top: 10px;
            position: absolute;
            background-position: center center;
            background-size: 100% 100%;
        }
    }
}

h1.brand-logo {
    color: $blu-primary;
}

nav {
    background-color: $blu-dark;
}